<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>GoGo Job</title>
    </h:head>
    <h:body>
        <p:layout 
            fullPage="true">

            <p:layoutUnit 
                position="north" 
                size="100">

                <h:form>
                    <h:panelGrid 
                        columns="2" 
                        cellpadding="5" 
                        style="height: 100%; margin-left: 10px; width: 98%">
                        <h:outputText 
                            value="#{managerMB.loggedManager.name}" 
                            style="color: coral; font-size: 150%" />

                        <p:commandButton 
                            action="#{accountMB.logOut()}"
                            id="logout" 
                            icon="ui-icon-extlink"
                            onlyIcon="true"
                            style="height: 50px; width: 50px; margin-left: 90%"
                            title="Sair" />

                    </h:panelGrid>
                </h:form>
            </p:layoutUnit>

            <p:layoutUnit 
                position="center">

                <ui:insert name="center-content">Coming soon...</ui:insert>
            </p:layoutUnit>
        </p:layout>

        <p:dock 
            position="bottom"
            >
            <p:menuitem 
                value="Principal" 
                icon="/images/dashboard.png" 
                url="dashboard.xhtml" />
            <p:menuitem 
                value="Postos de trabalho" 
                icon="/images/workstation.png" 
                url="workstations.xhtml" />
            <p:menuitem 
                value="Colaboradores" 
                icon="/images/worker.png" 
                url="workers.xhtml" />
            <p:menuitem 
                value="Configurações" 
                icon="/images/config.png" 
                url="#" />
        </p:dock>
    </h:body>
</html>

