<ui:composition template="WEB-INF/templates/default.xhtml"
    xmlns ="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <ui:define name="center-content">
        
        Em breve...
    </ui:define>
 </ui:composition>

                