<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>GogoJob</title>
    </h:head>
    <h:body>
        <h:form 
            id="form_main">

            <p:fieldset
                legend="Registrar-se"
                style="alignment-adjust: middle; width: 20%; text-align: center; margin: 0 auto">

                <p:messages 
                    id="messages" 
                    autoUpdate="true" 
                    closable="true" />

                <h:panelGrid 
                    columns="2" 
                    cellpadding="5"
                    style="margin: 0 auto">

                    <p:outputLabel 
                        for="email" 
                        value="Email:"/>
                    <p:inputText 
                        id="email"
                        required="true"
                        style="width: 100%"
                        value="#{accountMB.login}"
                        validatorMessage="Email inválido">

                        <f:validateRegex
                            pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />

                    </p:inputText>

                    <p:outputLabel 
                        for="name" 
                        value="Nome:"/>
                    <p:inputText 
                        id="name"
                        style="width: 100%"
                        value="#{accountMB.name}" />

                        <p:outputLabel 
                            for="password" 
                            value="Senha:"/>
                        <p:password 
                            id="password"
                            required="true"
                            style="width: 100%"
                            value="#{accountMB.password}"/>

                        <p:outputLabel 
                            for="password_2" 
                            value="Confirmar senha:"/>
                        <p:password 
                            id="password_2"
                            required="true"
                            style="width: 100%"
                            value="#{accountMB.password_2}"/>

                </h:panelGrid>

                <p:spacer
                    height="20px"/>
<!--
                <p:captcha  NÂO NECESSÀRIO POR ENQUANTO
                    label="Captcha"
                    language="pt_BR"
                    theme="white"
                    validatorMessage="Captcha: Erro de validação: o valor está incorreto"/>-->

                <p:separator />

                <h:panelGrid
                    columns="3"
                    style="margin: 0 auto">
                    <p:commandButton 
                        action="#{accountMB.register()}"
                        style="width: 100px"
                        value="Confirmar"
                        update="messages"/>
                </h:panelGrid>
            </p:fieldset>
        </h:form>
    </h:body>
</html>

