<ui:composition template="WEB-INF/templates/default.xhtml"
                xmlns ="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="center-content">

        <h:form 
            id="form_list_workers">
            <p:growl 
                id="growl" 
                life="3000" />

            <p:commandButton 
                actionListener="#{workersMB.newWorker}"
                icon="ui-icon-circle-plus"
                oncomplete="PF('dialogNew').show()"
                style="margin-left: 90%; margin-bottom: 5px"
                value="Novo"
                update="growl, :dialogNew"/>

            <p:dataList
                emptyMessage="Nenhum colaborador"
                id="data_list_workers"
                type="definition"
                value="#{workersMB.workers}"
                var="w">
                <f:facet name="header">
                    Colaboradores
                </f:facet>

                <p:fieldset 
                    legend="#{w.name}" 
                    style="margin-bottom:20px">

                    <p:commandButton 
                        icon="ui-icon-circle-minus"
                        title="Editar"
                        style="margin-bottom: 10px"
                        />

                    <p:commandButton 
                        icon="ui-icon-circle-close"
                        title="Excluir"
                        style="margin-bottom: 10px"
                        />

                    <p:accordionPanel
                        id="accordion_panel_markings"
                        activeIndex="0"
                        multiple="true">
                        <p:tab title="Marcações">
                            <p:dataScroller 
                                id="data_scroller_markings"
                                chunkSize="5"
                                value="#{workersMB.getMarkings(w)}"
                                var="m">
                                <p:separator />

                                <p:outputPanel>
                                    <h:panelGrid 
                                        columns="2"
                                        cellpadding="5">
                                        <h:outputText
                                            value="Descrição:"/>
                                        <h:outputText
                                            value="#{m.createdAt.time}"
                                            style="font-weight: bold">
                                            <f:convertDateTime 
                                                type="both" 
                                                dateStyle="long" 
                                                locale="pt_BR"
                                                timeZone="America/Sao_Paulo"/>
                                        </h:outputText>
                                    </h:panelGrid>
                                </p:outputPanel>

                                <p:separator />

                                <f:facet name="loader">
                                    <p:commandButton 
                                        icon="ui-icon-circle-triangle-s"
                                        style="width: 20%"
                                        type="button" 
                                        title="Ver" />
                                </f:facet>
                            </p:dataScroller>
                        </p:tab>
                    </p:accordionPanel>
                </p:fieldset>

                <p:spacer width="100" height="60"/>
            </p:dataList>
        </h:form>

        <p:dialog 
            closeOnEscape="true" 
            header="Novo colaborador"
            id="dialogNew"
            hideEffect="clip" 
            position="center" 
            showEffect="clip" 
            widgetVar="dialogNew" >

            <h:form 
                id="form_dialog_new">

                <p:messages 
                    id="messages" 
                    autoUpdate="true" 
                    closable="true" />

                <h:panelGrid 
                    columns="2" 
                    cellpadding="5" >

                    <p:outputLabel 
                        for="name" 
                        value="Nome:"/>
                    <p:inputText 
                        id="name"
                        value="#{workersMB.worker.name}"/>

                    <p:outputLabel 
                        for="login" 
                        value="Usuário (Colaborador):"/>
                    <p:inputText 
                        id="login"
                        value="#{workersMB.worker.login}"/>

                    <p:outputLabel 
                        for="password" 
                        value="Senha:"/>
                    <p:password 
                        id="password"
                        value="#{workersMB.worker.password}"/>

                    <p:outputLabel 
                        for="schedule" 
                        value="Jornada:" />
                    <p:selectOneMenu 
                        id="schedule" 
                        value="#{workersMB.selectedSchedule}">
                        <f:selectItem 
                            itemLabel="Selecione" 
                            itemValue="" 
                            noSelectionOption="true" />
                        <f:selectItems 
                            itemValue="#{s.id}"
                            itemLabel="#{s.description} das #{s.startAt} às #{s.fisnishAt}"
                            value="#{workersMB.schedules}"
                            var="s"/>
                    </p:selectOneMenu>
                    <p:outputLabel 
                        for="workstation" 
                        value="Posto de trabalho: " />
                    <p:selectOneMenu 
                        id="workstation" 
                        value="#{workersMB.selectedWorkstation}">
                        <f:selectItem 
                            itemLabel="Selecione" 
                            itemValue="" 
                            noSelectionOption="true" />
                        <f:selectItems 
                            itemValue="#{workstation.id}"
                            itemLabel="#{workstation.description}"
                            value="#{workersMB.workstations}"
                            var="workstation"/>
                    </p:selectOneMenu>
                </h:panelGrid>

                <p:separator />
                <p:commandButton 
                    actionListener="#{workersMB.saveWorker}"
                    icon="ui-icon-circle-check"
                    value="Adicionar"
                    update=":form_list_workers:data_list_workers, name, login, password, schedule"/>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>