<ui:composition template="WEB-INF/templates/default.xhtml"
                xmlns ="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="center-content">

        <h:form 
            id="form_list_workstations">
            <p:growl 
                id="growl" 
                life="3000" />

            <p:commandButton 
                actionListener="#{workstationsMB.newWorkstation}"
                icon="ui-icon-circle-plus"
                oncomplete="PF('dialogNew').show()"
                style="margin-left: 90%; margin-bottom: 5px"
                value="Novo"
                update="growl, :dialogNew"/>

            <p:dataList
                emptyMessage="Nenhum posto de trabalho"
                id="data_list_workstations"
                type="definition"
                value="#{workstationsMB.workstations}"
                var="w">
                <f:facet name="header">
                    Postos de trabalho
                </f:facet>

                <p:fieldset 
                    legend="#{w.description}" 
                    style="margin-bottom:20px">

                    <p:commandButton 
                        icon="ui-icon-circle-minus"
                        title="Editar"
                        style="margin-bottom: 10px"
                        />

                    <p:commandButton 
                        icon="ui-icon-circle-close"
                        title="Excluir"
                        style="margin-bottom: 10px"
                        />

                    <p:poll 
                        interval="60" 
                        listener="#{workstationsMB.notifyLateWorkersAtWorkstation(w.id)}" />

                    <p:accordionPanel
                        id="accordion_panel_notifications"
                        activeIndex="0"
                        multiple="true">
                        <p:tab title="Quadro de avisos">
                            <p:dataScroller 
                                id="data_scroller_notifications"
                                chunkSize="5"
                                value="#{workstationsMB.getNotifications(w)}"
                                var="n">

                                <p:separator />
                                <p:outputPanel>
                                    <h:panelGrid 
                                        columns="2"
                                        cellpadding="5">

                                        <h:outputText
                                            value="Descrição:"/>
                                        <h:outputText
                                            value="#{n.description}"
                                            style="font-weight: bold"/>


                                    </h:panelGrid>
                                </p:outputPanel>
                                <p:separator />

                                <f:facet name="loader">
                                    <p:commandButton 
                                        icon="ui-icon-circle-triangle-s"
                                        style="width: 20%"
                                        type="button" 
                                        title="Ver" />
                                </f:facet>
                            </p:dataScroller>

                            <p:poll 
                                interval="60" 
                                update="data_scroller_notifications" />

                        </p:tab>

                        <p:tab title="Colaboradores no local">

                            <p:dataTable 
                                emptyMessage="Nenhum colaborador no local"
                                var="w" 
                                value="#{workstationsMB.getActiveWorkersNow(w.id)}">
                                <p:column headerText="Nome" style="text-align: center">
                                    <h4>
                                        <h:outputText value="#{w.name}" />
                                    </h4>
                                </p:column>

                                <p:column headerText="Status" style="text-align: center">
                                    <h4>
                                        <h:outputText value="#{w.status}" />
                                    </h4>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                    </p:accordionPanel>
                </p:fieldset>

                <p:spacer width="100" height="60"/>
            </p:dataList>
        </h:form>

        <p:dialog 
            closeOnEscape="true" 
            header="Novo posto de trabalho"
            id="dialogNew"
            hideEffect="clip" 
            position="center" 
            showEffect="clip" 
            widgetVar="dialogNew" >

            <h:form 
                id="form_dialog_new">

                <p:messages 
                    id="messages" 
                    autoUpdate="true" 
                    closable="true" />

                <h:panelGrid 
                    columns="2" 
                    cellpadding="5" >

                    <p:outputLabel 
                        for="description" 
                        value="Descrição:"/>
                    <p:inputText 
                        id="description"
                        value="#{workstationsMB.workstation.description}"/>
                </h:panelGrid>

                <p:separator />
                <p:commandButton 
                    actionListener="#{workstationsMB.saveWorkstation}"
                    icon="ui-icon-circle-check"
                    value="Adicionar" 
                    update=":form_list_workstations:data_list_workstations, description"/>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>